@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Playfair+Display+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
*{padding: 0%; margin: 0%;box-sizing: border-box;}


.Destination{height:100vh;width:100%;background-image: url('../Images/planet.jpg') ;background-attachment:fixed; background-size:cover; background-position: center; background-repeat: no-repeat;}

.imageContainer{background-image: url('../Images/rocket.png') ;background-attachment:fixed; background-size: 230px; background-position-x: 85%; background-position-y: 50%; background-repeat: no-repeat; animation: blink 4s linear infinite;height: 100%;}

@keyframes blink {
    100% {background-position-y:80%}
    0% {background-position-y:10% }
}

.upload{cursor: pointer;}

.imgShow { display: flex; justify-content:space-around;flex-direction: row;flex-wrap: wrap;}

.butClass{transition: 3s;position: absolute;margin-left: 50vh;padding: 3px 3px; font-size: 30px;color: crimson;border-radius: 20px;background-color: darkturquoise;cursor: pointer;}

.butClass:hover{background-color: gold;color: indigo;}

@media (min-width: 1920px){
    .Destination{
        animation: blink 5s linear infinite;
    }
    @keyframes blink {100% {background-position-y:50%} 0% {background-position-y:10% } }
}

@media (max-width: 850px){
    .imageContainer{background-size: 13%; background-position-x: 95%; background-position-y: 30%; background-repeat: no-repeat;}
}